<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragment :: head"></div>
<body>
<div th:insert="fragment :: header"></div>
<div th:insert="fragment :: menu"></div>


<div class="container">
    <h3>Add new order</h3>
    <form th:action="@{/orders}" th:object="${order}" method="post">


        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="date">Order date</label>
                <div class="input-group date" data-date-format="dd/mm/yyyy">
                    <input type="text" class="form-control" id="date" autocomplete="off" th:field="*{date}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>

            <div class="form-group col-md-5">
                <label for="orderNumber">Order number</label>
                <input class="form-control" type="text" th:field="*{orderNumber}" id="orderNumber">
            </div>
            <span th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></span>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="directionFrom">Direction from</label>
                <input class="form-control" type="text" th:field="*{directionFrom}" id="directionFrom">
            </div>
            <span th:if="${#fields.hasErrors('directionFrom')}" th:errors="*{directionFrom}"></span>

            <div class="form-group col-md-5">
                <label for="directionTo">Direction to</label>
                <input class="form-control" type="text" th:field="*{directionTo}" id="directionTo">
            </div>
            <span th:if="${#fields.hasErrors('directionTo')}" th:errors="*{directionTo}"></span>
        </div>


        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="goods">Goods</label>
                <input class="form-control" type="text" th:field="*{goods}" id="goods">
            </div>
            <span th:if="${#fields.hasErrors('goods')}" th:errors="*{goods}"></span>

            <div class="form-group col-md-5">
                <label for="unit">Unit:</label>
                <input class="form-control" type="text" th:field="*{unit}" id="unit">
            </div>
            <span th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}"></span>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="quantity">Quantity:</label>
                <input class="form-control" type="number" min="0" step="0.01" th:field="*{quantity}" id="quantity">
            </div>
            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
            <div class="form-group col-md-5">
                <label for="value">Net value</label>
                <input class="form-control" type="number" min="0" step="0.01" th:field="*{value}" id="value">
            </div>
            <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>
        </div>


        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="contractorSelect">Select Contractor:</label>
                <select class="form-control" id="contractorSelect" th:field="*{contractor.id}">
                    <option th:text="--" th:value="null"></option>
                    <option th:each="contractor : ${contractors}"
                            th:text="${contractor.name}"
                            th:value="${contractor.id}">
                    </option>
                </select>
            </div>

            <div class="form-group col-md-5">
                <label for="companySelect">Select Company:</label>
                <select class="form-control" id="companySelect" th:field="*{company.id}">
                    <option selected="selected" th:each="companyData : ${company}"
                            th:text="${companyData.name}"
                            th:value="${companyData.id}">
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="driverSelect">Select Drivers:</label>
                <select class="custom-select" multiple id="driverSelect" th:field="*{drivers}">
                    <option th:each="driver : ${drivers}"
                            th:text="${driver.getFullName()}"
                            th:value="${driver.id}">
                    </option>
                </select>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="terms">Terms of contract</label>
                <textarea class="form-control" type="text" th:field="*{terms}" id="terms"></textarea>
            </div>
            <span th:if="${#fields.hasErrors('terms')}" th:errors="*{terms}"></span>
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Submit form</button>
            <button class="btn btn-primary" type="reset">Reset</button>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>


<div th:insert="fragment :: footer"></div>
</body>
</html>
