<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragment :: head"></div>
<body>
<div th:insert="fragment :: header"></div>
<div th:insert="fragment :: menu"></div>

<div>
    <span class="label label-danger">Are you sure you want to delete this order?</span>
</div>
<div>
    <a th:href="@{'/orders/delete-action/' + ${orderId} + '?action=true'}">
        <button class="btn btn-danger">Yes</button>
    </a>
    <a th:href="@{'/orders/delete-action/' + ${orderId} + '?action=false'}">
        <button class="button">No</button>
    </a>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>

<div th:insert="fragment :: footer"></div>
</body>
</html>