<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragment :: head"></div>
<body>
<div th:insert="fragment :: header"></div>
<div th:insert="fragment :: menu"></div>


<button class="btn btn-outline-success"><a href="/orders" th:href="@{/orders}"> New order </a></button>


<div class="form-row">
    <div class="form-group col-md-5">
        <form class="form-inline my-2 my-lg-0" th:action="@{/orders/order-number}" method="get">
            <!--            <label></label>-->
            <input class="form-control mr-sm-2" type="search" name="orderNumber" placeholder="Search by number"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-5">
        <form class="form-inline my-2 my-lg-0" th:action="@{/orders/contractor}" method="get">
<!--                            <label>Search by Contractor</label>-->
            <select class="form-control mr-sm-2" type="search" name="contractor" aria-label="Search">
                <option th:text="--" th:value="null"></option>
                <option selected>Search by contractor</option>
                <option th:each="contractor : ${contractors}"
                        th:text="${contractor.name}"
                        th:value="${contractor.id}">
                </option>
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>


<div class="form-row">
    <div class="form-group col-md-5">
        <form class="form-inline my-2 my-lg-0" th:action="@{/orders/date-range}" method="get">
            <div class="input-group date" data-date-format="dd/mm/yyyy">
                <label for="dateStart"></label>
                <input type="text" class="form-control" name="start" autocomplete="off" id="dateStart"
                       placeholder="start date"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>

            </div>


            <div class="input-group date" data-date-format="dd/mm/yyyy">
                <label for="dateEnd"></label>
                <input type="text" class="form-control" name="end" autocomplete="off" id="dateEnd"
                       placeholder="end date"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>



<!--<div>-->
<!--    <form th:action="@{/orders/date}" method="get">-->
<!--        <div class="form-row">-->
<!--            <div class="form-group col-md-5">-->
<!--                <label for="dateSearch"></label>-->
<!--                <div class="input-group date" data-date-format="dd/mm/yyyy">-->
<!--                    <input type="text" class="form-control" name="date" id="dateSearch" autocomplete="off"/>-->
<!--                    <div class="input-group-append">-->
<!--                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->



<div class="container-fluid text-center">
    <h3>Order list</h3>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Order number</th>
        <th>Date</th>
        <th>Contractor</th>
        <th>Direction From</th>
        <th>Direction To</th>
        <th>Goods</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Net value</th>
        <th>Drivers</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr th:if="${orders.isEmpty()}">
        <td colspan="12"> No Orders Available </td>
    </tr>
    <tbody>
    <tr th:each="order, loopCount : ${orders}">
        <td th:text="${loopCount.count}"></td>
        <td th:text="${order.orderNumber}"></td>
        <td th:text="${order.date}"></td>
        <td th:text="${order.contractor.name}"></td>
        <td th:text="${order.directionFrom}"></td>
        <td th:text="${order.directionTo}"></td>
        <td th:text="${order.goods}"></td>
        <td th:text="${order.quantity}"></td>
        <td th:text="${order.unit}"></td>
        <td th:text="${order.value}"></td>
        <td th:text="${order.drivers}"></td>
        <td>
            <a th:href="@{edit/{id}(id=${order.id})}">Edit</a>
            <a th:href="@{delete/{id}(id=${order.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!--<script src="../../static/js/app.js"></script>-->


<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>


<div th:insert="fragment :: footer"></div>
</body>
</html>
