<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:insert="fragment :: head"></div>
<body>
<div th:insert="fragment :: header"></div>
<div th:insert="fragment :: menu"></div>

<button>
    <a th:href="@{/reports/invoicePdf/{id}(id=${invoice.id})}"><img th:src="@{/images/pdf-icon.png}" alt="pdf icon"></a>
</button>
<h1 class="text-center">Invoice no. <span th:text="${invoice.invoiceNumber}"></span></h1>

<div class="form-row">
    <div class="border form-group col-md-5">
        <h3>Supplier</h3>
        Name: <strong th:text="${invoice.company.name}"></strong><br>
        NIP: <span th:text="${invoice.company.nip}"></span><br>
        <span th:text="${invoice.company.street}"></span> <span
            th:text="${invoice.company.streetNumber}"></span><br>
        <span th:text="${invoice.company.postCode}"></span> <span th:text="${invoice.company.place}"></span><br>
    </div>

    <div class="border form-group col-md-5">
        Place of issue: <span th:text="${invoice.place}"></span><br>
        Date of invoice: <span th:text="${invoice.invoiceDate}"></span><br>
        Date of service: <span th:text="${invoice.serviceDate}"></span><br>
    </div>
</div>

<div class="form-row">
    <div class="border form-group col-md-5">
        <h3>Customer</h3>
        <div>
            Name: <strong th:text="${invoice.contractor.name}"></strong><br>
            NIP: <span th:text="${invoice.contractor.nip}"></span><br>
            <span th:text="${invoice.contractor.street}"></span> <span
                th:text="${invoice.contractor.streetNumber}"></span><br>
            <span th:text="${invoice.contractor.postCode}"></span> <span
                th:text="${invoice.contractor.place}"></span><br>
        </div>
    </div>
    <div class="border form-group col-md-5">
        <h5>Payment Details</h5>
        <p>
            Payment date: <span th:text="${invoice.getPaymentDate()}"></span><br>
            Payment method: <span th:text="${invoice.paymentMethod}"></span><br>
            Bank: <span th:text="${invoice.company.bank}"></span><br>
            Account number: <strong th:text="${invoice.company.iban}"></strong><br>
        </p>
    </div>
</div>


<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Goods/Service description</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Net amount</th>
        <th>VAT rate</th>
        <th>VAT amount</th>
        <th>Gross amount</th>
    </tr>
    </thead>
    <tr th:if="${invoice.items.isEmpty()}">
        <td colspan="9"> No Items Available</td>
    </tr>
    <tbody>
    <tr th:each="item,iterationStatus : *{invoice.items}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${item.serviceDescription}"></td>
        <td th:text="${item.unit}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.unitPrice} + ' zł'"></td>
        <td th:text="${item.getNetAmount()} + ' zł'"></td>
        <td th:text="${item.vatRateInPercent} + '%'"></td>
        <td th:text="${item.getVatAmount()} + ' zł'"></td>
        <th class="thead-dark" th:text="${item.getGrossAmount()} + ' zł'">
    </tr>
    <tr class="border-bottom-0">
        <td colspan="4"></td>
        <td class="font-weight-bold">Razem</td>
        <td th:text="${invoice.getTotalNetAmount()} + ' zł'"></td>
        <td></td>
        <td th:text="${invoice.getTotalVatAmount()} + ' zł'"></td>
        <th class="thead-dark" th:text="${invoice.getTotalGrossAmount()} + ' zł'">
    </tr>

    </tbody>
</table>


<div class="form-row">
    <div class="border form-group col-md-5">
        <p>
            Annotations: <span th:text="${invoice.annotations}"></span><br>
        </p>
    </div>
    <div class="border form-group col-md-5">
        <h5 class="text-capitalize">Total amount to pay</h5>
        <span class="text-primary" th:text="${invoice.getTotalGrossAmount()} + ' zł'"></span>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


<div th:insert="fragment :: footer"></div>
</body>
</html>