<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragment :: head"></div>
<body>
<div th:insert="fragment :: header"></div>
<div th:insert="fragment :: menu"></div>



<button class="btn btn-outline-success"><a href="/tractors" th:href="@{/tractors}"> New tractor </a></button>

<div class="container-fluid text-center">
    <h3>Tractors</h3>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Make</th>
        <th>Model</th>
        <th>Registration number</th>
        <th>VIN</th>
        <th>Insurance valid to</th>
        <th>Next technical inspection</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="tractor, iterationStatus: ${tractors}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${tractor.make}"></td>
        <td th:text="${tractor.model}"></td>
        <td th:text="${tractor.registrationNumber}"></td>
        <td th:text="${tractor.vin}"></td>
        <td th:text="${tractor.insuranceExpires}"></td>
        <td th:text="${tractor.nextTechnicalInspection}"></td>
        <td>
            <a class="fas fa-edit" th:href="@{edit/{id}(id=${tractor.id})}"></a>
            <a class="fas fa-trash-alt" th:href="@{delete/{id}(id=${tractor.id})}"></a></td>
    </tr>

    </tbody>
</table>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>

<div th:insert="fragment :: footer"></div>
</body>
</html>